body{
	margin: 0px;
	padding:0px;
	overflow: hidden;
	-moz-user-select: none;  
    -webkit-user-select: none;  
    -ms-user-select: none;  

}

*:focus {outline: none;} 
a:HOVER,a:FOCUS{
	text-decoration:none;
}
.afont-style{	
	font-size: small;
	
}
.font-sm{
	font-size: 12px;
	font-family: monospace;
}
.point{cursor: pointer;}
.hidden{
	display: none;
}


label{
	margin:0px;
	padding:0px;
}
.navbar-nav>li>a {
	margin-left: 30px;
	font-weight: 600;
	font-size: x-large;
}

#header {
	background: #5E66D5;
	background: -moz-linear-gradient(top, #cacaca, #5E66D5);
	background: -o-linear-gradient(top, #cacaca, #5E66D5);
	background: -webkit-linear-gradient(top, #cacaca, #5E66D5);
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	list-style: none;
	margin: 0px;
	overflow: hidden;
	padding: 0;
	width: 100%;
	height:45px;
	clear:both;
}

#header span{
	color: white;
	 font-size: 20px; 
	 line-height:45px;
	 padding: 0px;
}
#currentTime{
	color: white;
	position: absolute;
	left:560px;
	 font-size: 15px; 
	 line-height:45px;
}
#usermanager {
	cursor: pointer;
	position: absolute;
	right: 30px;
	top:2px;
}

.user-menu {
	position: fixed;
	top: 40px;
	z-index: 1000;
	right: 1px;
	float: left;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background: #5E66D5;
	background: -moz-linear-gradient(top, #cacaca, #5E66D5);
	background: -o-linear-gradient(top, #cacaca, #5E66D5);
	background: -webkit-linear-gradient(top, #cacaca, #5E66D5);
	border-radius: 4px;
}

.user-menu>li>a {
	padding: 3px 10px;
	color: #333;
}

.user-menu>li>a:hover, .user-menu>li>a:focus {
	text-decoration: none;
	color: #B261B3;
}

#nickname {
	color: #ff00ff;
	padding: 3px 10px;
}

.networkdisk-left {
	
	margin: 0px;
	padding: 0px;
	width: 200px;
	height: 590px;
	position:absolute;
	background-color: #D7E3EC;
}

.networkdisk-left-btn {
	margin: 5 0px;
	padding: 10 0px;
	background: #9DA0CE;
	background: -moz-linear-gradient(top, #cacaca, #9DA0CE);
	background: -o-linear-gradient(top, #cacaca, #9DA0CE);
	background: -webkit-linear-gradient(top, #cacaca, #9DA0CE);
}

.networkdisk-left-btn-hover,.networkdisk-left-btn:HOVER{
	
	background:blue;
	background:-moz-linear-gradient(left, #fff, blue);
	background:-o-linear-gradient(left, #fff, blue);
	background:-webkit-linear-gradient(left, #fff,blue);
}

.networkdisk-center {
	margin-left: 200px;
	width:1165;
	height: 580px;
	overflow: hidden;
	
	
}

.networkdisk-center-top {
	width: 100%;
	height: 50px;
	overflow:hidden;
	background: -moz-linear-gradient(top, #cacaca, #B9DBE5);
	background: #B9DBE5;
	background: -moz-linear-gradient(top, #cacaca, #B9DBE5);
	background: -o-linear-gradient(top, #cacaca, #B9DBE5);
	background: -webkit-linear-gradient(top, #cacaca, #B9DBE5);
}


.networkdisk-search {
	width: 250px;
	margin-top:10px;
	margin-left: 50px;
}

.networkdisk-fileopration{  
    position:absolute;
	right:360px;
	top:65px;
	width: 380px;
	height:30px;
}
.networkdisk-fileopration li{
	list-style-type: none;
	float: left;
}
.networkdisk-fileopration li a{
	padding:2 2px !important;
	width:70px!important;
	height:25px!important;
    border:solid 1px #9094CF;
	
	
	
}
.networkdisk-button{
	border:solid 1px #9094CF;
    margin-left: 600px;
    margin-top: 8px;	
	
}
.networkdisk-center-center {
	
	width:1165;
	height:540px;
	/* border:solid 1px red; */
	margin: 0px;
    overflow: hidden;	
	
}
#filepages{	
	
	height:540px;
	overflow: auto;	
	margin: 0px;
	
}

#filepage-all .well{
	margin: 0px ;
}
.filepages-all-btn{
	width: 95%;
}


#upload{
	width: 800px;
	height:400px;
}
.upload-btn{
	margin-left: 50px;
}
.starup-btn{
	margin-left: 500px;
}


.filelist-item{
	
	width:115px;
	height: 120px;
	padding: 15px;
	margin:5px;
	border-radius:10px;
	-moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari 鍜� Chrome */
	
	
	
}
.filelist-item:HOVER{	
	background: #a7bdde;	
}

.filelist-item-name{
	overflow:hidden;
	height:28px;
	vertical-align: middle;
	text-align: center;
	font-family:DFKai-SB;
	padding: 5 0px;
}
.filelist-item-over{
	background: #a7bdde !important;
	
}
.filelist-item-name a{
	color:#3C3C3C;
}
 .filelist-item-name a:HOVER{
	color:#c84d37;
}
.file-ct-btn{
	font-family: fantasy;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}
#filehandlemodal{
	position:fixed;
	width:100px;
	padding:0px;
	border:dashed 1px #c0c0c0;
}
.file-menu {
	


	padding: 2px;
	margin: 0px;
	font-size: 14px;
	text-align: left;
	list-style: none;
	border-radius: 4px;
}
.file-menu>li {
	padding: 3px 10px;
	width:auto;
	background: #fff;
	border-radius: 4px;
	text-align: center;
}
.file-menu>li:hover, .user-menu>li:focus {
	background: #5E66D5;
	background: -moz-linear-gradient(top, #fff, #5E66D5);
	background: -o-linear-gradient(top, #cacaca, #5E66D5);
	background: -webkit-linear-gradient(top, #cacaca, #5E66D5);
}

.file-menu>li>a:hover, .user-menu>li>a:focus {
	text-decoration: none;
	color: #B261B3;
}
.DataTables_sort_icon{
	display: none;
	margin: 0px;
	padding:0px;
}
.table-font{
	font-size: 12px;
	font-family: monospace;
	width: 100% !important;
	
}
 #progressbar {
    position: relative;
    border-radius:10px;
    width:100%;
    height:100%;
  }
  .progress-label {
    position: absolute;
    left: 40%;
    font-weight: 120;
    font-size:11px;
    font-family: fantasy;
    
    
  }
  /* 绗旇鏈璁� */
  .note div{
    float: left;
  }
   #note-editor{
	
	width:300px!important;
	height: 600px;
	
	overflow: auto;
  } 
  /*  .note-left{
    width:30%;
  
   
  }
 
.note-mid{
	width:40%;
	
}
.note-right{
	width:30%;
} */
 
 .thumbnail{
 width:120px;
 height: 120px;
 }
 